header{
	color:green;
	font-family:'Lucida Sans Unicode', sans-serif;
	padding-left: 10px; 
}
.icon{
	color:red;
}

#search{
	background-image:url(../image/map-local.jpg);
	background-repeat:   no-repeat;
	background-image-size:cover;
	background-attachment: fixed;
	height:290px;
}

#search-text{
	margin-left: 250px;
	margin-top: 80px;
	width: 50%;
	height: 50px;
	border:none;
	padding-left:10px;
	font-family: 'Lucida Sans Unicode', sans-serif;

}

.searchbtn{
	margin-left: 250px;
	margin-top: 10px;
	width: 50.5%;
	height: 50px;
	border:none;
	font-family: 'Lucida Sans Unicode', sans-serif;
	background-color: black;
	color: white;

}

.flex-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map{
	font-size:200px;
	color:red;
	margin-left: 90px;
    margin-right: 90px;
}

.about h3{
	font-family: 'Lucida Sans Unicode', sans-serif;
	font-size: 30px;
}

#search-result{
  display: flex;
  justify-content: space-between;
  margin:90px; 
  line-height: 1em;
  color:grey;
  font-family: arial,sans-serif;
  font-size: 18px;

}



#temperature{
	font-size:90px;
	margin-top: 30px;
}

.therm{
	color: orange;
	padding-right: 30px;
}

.landmarks{
  display: flex;
  justify-content: space-around;
  color:grey;
  font-family: 'Lucida Sans Unicode',sans-serif;
  
}

.img{
	width:300px;
	height:200px;
}

.intro{
margin-left: 50px;	
  color:grey;
  font-family: 'Lucida Sans Unicode',sans-serif;
  
}

#myMap{
		position:relative;
		width:600px;
		height:400px;"
}

